<div class="d-flex align-items-center justify-content-between p-4 border">
  <h1>Best restaurants</h1>
  <div class="d-flex align-items-center justify-content-between p-4">
    <%= link_to 'All Restaurants', restaurants_path, class: "btn btn-primary" %>
    <%= link_to "New Restaurant", new_restaurant_path, class: "btn btn-primary ms-4" %>
    </div>
</div>
